*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
 
  button {
    padding: 19px 39px 18px 39px;
    color: black;
    background-color: #c1ffd3;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 40%;
    border: 1px solid #c1ffd3;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  .infoPallete{
    border-radius: 16px;
    display: none;
  }
  
